.header {
    color: white;
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(246, 89, 90);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.header > img {
    height: 50%;
}

.header > .logo-image {
    font-size: 1.65em;
}

.header > .logo-text {
    margin-left: 2.5px;
    font-size: 1.35em;
}